/*====================== 
      BASE ELEMENTS STYLES
====================== */

* {
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  line-height: 1.6;
  color: #3a3a3a;
}

h1 {
  color: white;
  font-size: 1.5rem;
  background-color: black;
  margin-top: 0;
  text-transform: uppercase;
  line-height: 3;
}

h2,
legend {
  font-size: 1.3rem;
  font-weight: 900;
  color: black;
}

h2 {
  padding-top: 15px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  font-size: 0.95rem;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- header ---- */

header {
  text-align: center;
  border-bottom: 6px solid black;
  position: relative;
  margin-bottom: 20px;
  background-color: #E6EADA;
}

header::after {
  content: "";
  position: absolute;
  top: -15px;
  left: 0px;
  right: 0px;
  bottom: -13px;
  border-bottom: 3px solid black;
  z-index: -1;
}

header p {
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 20px;
  color: grey;
}

/* ---- form ---- */

fieldset {
  border: 0;
  margin: 0 auto;
  padding: 0;
}

.main {
  padding: 30px 3%;
  
}

li {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

label {
  padding-top: 15px;
  padding-bottom: 15px;
}

input,
select,
textarea {
  border-radius: 5px;
  background-color: #eeeeee;
  /* transition: all 2s; */
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  border: none;
  padding: 20px 20px;
}

input[type="email"]::placeholder,
input[id="name"]::placeholder,
input[type="tel"]::placeholder {
  text-align: right;
  font-size: 0.75rem;
  font-style: italic;
  padding-right: 5px;
}

input:focus,
select:focus,
textarea:focus {
  outline-color: black;
  background-color: #B9BCAF;
}

li:last-child::after {
  content: "";
  padding-bottom: 40px;
  border-bottom: 3px solid black;
}

.newsletter-legend {
  padding-top: 30px;
}

.newsletter-fieldset li {
  display: block;
  padding-bottom: 20px;

}

input[type="checkbox"],
input[type="radio"] {
  margin-top: 15px;
  margin-right: 5px;
}

textarea {
  margin-top: 20px;
  width: 100%;
  height: 150px;
}

input[type="submit"] {
  background-color: #4D6A6D;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  width: 100%;
  margin: 20px auto;
  padding: 25px 0px;
}

/* ---- footer ---- */

footer {
  text-align: center;
  color: grey;
}

/* ================================= 
    Media Queries
==================================== */

@media (min-width: 768px) {
  .main {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
    padding-right: 0;
    padding-left: 0;
   
    border-top: 3px solid black;
    position: relative;
    
  }

  .main::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0px;
    right: 0px;
    bottom: -13px;
    border-top: 6px solid black;
    z-index: -1;
  }

  header,
  header::after {
    border: none;
    padding-bottom: 10px;
  

  }

  header {
    background-color: white;
  }

  header p {
    padding-bottom: 0;
  }

  li {
    flex-direction: row;
  }

  .contact-fieldset {
      padding-bottom: 50px;
      border-bottom: 3px solid black;
  }

  

  .contact-info {
    padding-top: 50px;
  }

  .contact-info > li > input,
  .contact-info > li > select {
    flex-basis: 70%;
    margin-bottom: 20px;
  }

  .contact-info > li > label {
    flex-basis: 30%;
  }

  .newsletter-legend {
    padding-top: 50px;
    padding-bottom: 30px;
}
}
